* {
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 10px;
    border: 2px solid black;
    background-color: rgb(10, 144, 189);
}
.header {
    background-color: purple;
    color: white;

}
.left-aside {
    background-color: rgb(21, 57, 175);
    color: white;
}
.right-aside {
    background-color: rgb(30, 30, 160);
    color: white;
}
.footer {
    background-color: rgb(185, 130, 26);
    color: white;
}
.header, .footer, .left-aside, .right-aside {
    grid-column: span 3;
    border: 2px solid black;
}
.main {
    grid-column: span 1;
    display: flex;
    flex-direction: column;
    border: 2px solid black;
}
.column {
    flex: 1;
    background-color: rgb(238, 12, 106);
}

@media (max-width: 900px) {
    .container {
        grid-template-columns: 1fr;
    }
    .header, .footer, .left-aside, .right-aside, .main {
        grid-column: span 1;
    }
    .main {
        flex-direction: column;
    }
}