.container {
    display: grid;
    grid-template-areas:
        "header"
        "left-aside"
        "article"
        "right-aside"
        "footer";
    grid-template-rows: auto auto 1fr auto auto;
    grid-template-columns: 1fr 1fr 1fr; 
    min-height: 100vh;
    margin: 0;
    gap: 10px;
    padding: 10px;
    font-family: sans-serif;
    text-align: center;   
    color: white;
    background-color: #434da7;
}


.header {
    grid-area: header;
    background-color: purple;
    padding: 15px;
    text-align: center;
    color: white;

}
.left-aside {
    grid-area: left-aside;
    background-color: rgb(21, 57, 175);
    padding: 15px;
    text-align: center;
    color: white;
}
.right-aside {
    grid-area: right-aside;
    background-color: rgb(30, 30, 160);
    color: white;
    padding: 15px;
    text-align: center;
}
.footer {
    grid-area: footer;
    background-color: rgb(185, 130, 26);
    color: white;
    padding: 15px;
    text-align: center;
}
.main {
    display: grid;
    gap: 10px;
    background-color: rgb(34, 173, 120);
    padding: 15px;
    align-items: center;
}

.column {
    padding: 15px;
    text-align: center;
    background-color: rgb(238, 12, 106);
    color: white;
    align-self: end;
}
@media (min-width: 768px) {
    .container {
        display: grid;
        grid-template-columns: 1fr 2fr 1fr;
        grid-template-areas:
            "header header header"
            "left-aside article right-aside"
            "footer footer footer";
        grid-template-rows: auto 1fr auto;
        grid-gap: 10px;
        padding: 10px;
        max-width: 600px;
        min-height: 100vh;
        margin: 0 auto;
        border: 1px solid black;
        background-color: rgb(10, 144, 189);
        width: 100%;
    }
}
@media (min-width: 768px) {
    .main {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 10px;
        align-items:end;
    }
}
.article {
    grid-column: 1 / span 3;
    color: white;
}
